* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-align: center;
  transform-style: preserve-3d;
}

.calculator {
  perspective: 64em;
  height: 100vh;
  width: 100%;
}
.calculator .bottom-face {
  position: absolute;
  top: calc(50% - ( 0.5 * 20px));
  left: calc(50% - ( 0.5 * 362px));
  width: 362px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  border: 3px solid black;
}
.calculator .front-face {
  position: absolute;
  top: calc(50% - (0.5 * 720px));
  left: calc(50% - (0.5 * 362px));
  border: 3px solid black;
  background-color: rgba(0, 0, 0, 0.2);
  width: 362px;
  height: 720px;
  margin: calc(0.5 * $calc-height) calc(0.5 * $calc-width);
  display: flex;
  flex-direction: column;
}
.calculator .front-face .displays .display {
  font-size: 40px;
  height: 2em;
  margin: 10px;
  color: white;
  text-align: left;
  border: 1px solid white;
}
.calculator .front-face .displays .display.secondary {
  text-align: right;
}
.calculator .front-face .buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 100%;
  border: 1px solid white;
  margin: 10px;
}
.calculator .front-face .buttons div {
  height: 40px;
  width: 40px;
  display: flex;
  font-size: 20px;
  transition: ease 0.2s;
  background-color: initial;
  align-items: center;
  justify-content: center;
  background-color: orange;
  border-radius: 50%;
  margin: 10px;
  color: black;
}
.calculator .front-face .buttons div:hover {
  background-color: #b6600f;
}
.calculator .front-face .buttons div.invalid-input {
  background-color: red;
}
.calculator .front-face .buttons div.var-value {
  border-radius: 0;
}
.calculator .front-face .buttons div.var-value:hover {
  background-color: orange;
}