* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    perspective: 10000px;
    perspective-origin: center;
    transform-style: preserve-3d; 
}


$top-color: rgb(217, 255, 0);
$bottom-color: rgb(236, 75, 0);
$left-color: rgb(0, 162, 255);
$right-color: rgb(247, 0, 255);
$back-color: rgb(105, 6, 90);
$front-color: rgba(255, 215, 0, 1);

$display-color: black;
$display-text-color: white;
$display-font-size: 40px;

$button-color: grey;
$button-text-color: black;
$button-hover-color: white;
$button-error-color: red;

$button-size: 70px;
$button-font-size: 30px;
$button-margin: 10px;

$button-depth: 15px;

$calc-width: calc(20px + ((#{$button-size} + (2 * #{$button-margin})) * 4));
$calc-height: calc(70px + (4 * #{$display-font-size}) + (8 * (#{$button-size} + (2 * #{$button-margin}))));
$calc-depth: 40px;

$heading-size: 80px;
$info-height: 380px;
$more-info-font-size: 40px;
$info-width: 25vw;
$info-font-size: 20px;

body {
    overflow: hidden;
    background-color: rgb(9, 9, 44);
    text-align: left;    

    * {
        font-family: 'Londrina Solid';
    }

    h1{
        font-family: 'Londrina Outline';
        color: white;
        font-size: $heading-size;
        margin: 20px;
        padding: 20px;
        border: 2px dashed white;
        display: inline-block;
    }

    h2 {
        font-family: 'Londrina Outline';
    }

    .info-pane {
        display: inline-block;
        position: fixed;
        top: 50%;
        transform: translateX(-40px); 
        transition: 0.5s ease;
        
        &:hover {
            transform: translateX(0px);
        }

        &.shown {
            transform: translateX(0px);  
        }

        .opener {
            background-color: red;
            width: $info-height;
            position: absolute;
            font-size: $more-info-font-size;
            line-height: 1.5em;
            transform: rotateZ(90deg) translateX(calc((-1.5 * #{$more-info-font-size})));
            transform-origin: bottom left;
            text-align: center;
        }

        .about {
            border: 1px dashed white;
            font-size: $info-font-size;
            width: $info-width;
            margin-left: calc(1.5 * #{$more-info-font-size});
            height: $info-height;
            background-color: transparent;
            color: white;
            transform: rotateY(100deg);
            transform-origin: left;
            transition: 0.5s ease;

            &.shown {
                transform: rotateY(0deg);
            }

            p {
                padding: 10px;
                font-weight: 100;
                letter-spacing: 0.1em;
            }
                        
        }

    }

    .calculator {
        position: absolute;
        left: 10%;
        top: 0;
        height: 100vh;
        width: 100%;
        margin: auto;
        transition: 0.1s linear;

        
        .front-face{
            position: absolute;
            top: calc(50% - (0.5 * #{$calc-height}));
            left: calc(50% - (0.5 * #{$calc-width}));
            border: 1px solid black;
            background-color: $front-color;
            width:  $calc-width;
            height: $calc-height;
            display: flex;
            flex-direction: column;  

            .displays {

                .display{
                    font-size: $display-font-size;
                    height: 2em;
                    margin: 10px;
                    color: $display-text-color;
                    text-align: left;
                    border: 1px solid white;
                    background-color: $display-color;
                    overflow-x: auto;
                    
        
                    &.secondary{
                        text-align: right;
                    }
                }      
            }

            .buttons {
                display: grid;
                grid-template-columns: repeat(4,1fr);
                height: 100%;
                border: 1px solid white;
                margin: 10px;
                
        
                div {
                    height: $button-size;
                    width: $button-size;
                    display: flex;
                    font-size: $button-font-size;
                    transition: ease 0.2s;
                    background-color: initial;
                    align-items: center;
                    justify-content: center;
                    background-color: $button-color;
                    border-radius: 10%;
                    margin: $button-margin;
                    color: $button-text-color;

                    *{
                        position: absolute;
                        background-color: rgb(49, 44, 44);
                        border-radius: 0;
                    }
                    .button-top-face{
                        height: $button-depth;
                        transform: translateY(calc((-1) * #{$button-size} / 2)) translateZ(calc(#{$button-depth} / 2)) rotateX(90deg);

                    }
                    .button-bottom-face{
                        height: $button-depth;
                        transform: translateY(calc(#{$button-size} / 2)) translateZ(calc(#{$button-depth} / 2)) rotateX(90deg);
                    }
                    .button-left-face{
                        width: $button-depth;
                        transform: translateX(calc((-1) * #{$button-size} / 2)) translateZ(calc(#{$button-depth} / 2)) rotateY(90deg);
                    }
                    .button-right-face{
                        width: $button-depth;
                        transform: translateX(calc(#{$button-size} / 2)) translateZ(calc(#{$button-depth} / 2)) rotateY(90deg); 
                    }
                    .button-front-face{
                        transform: translateZ(calc(#{$button-depth}));
                        background-color: grey;
                    }

                    &.button-container{
                        &:hover{
                            .button-front-face{
                                background-color:rgb(71, 70, 70);
                            }
                        }

                        &.pressed {
                            transform: translateZ(calc((-1) * (#{$button-depth} * 0.6)));
                        }

                        &.var-value{
                            transform: none;
                        }
                    }

                    &.invalid-input .button-front-face{
                        background-color: $button-error-color
                    }
                }
            }
        }

        .bottom-face {
            position: absolute;
            top: calc(50% - ( 0.5 * #{$calc-depth}));
            left: calc(50% - ( 0.5 * #{$calc-width}));
            width: $calc-width;
            height: $calc-depth;
            background-color: $bottom-color;
            border: 1px solid black;
            transform: translateY(calc(#{$calc-height / 2})) translateZ(calc((-1) * #{$calc-depth / 2})) rotateX(90deg);
        }

        .top-face {
            position: absolute;
            top: calc(50% - ( 0.5 * #{$calc-depth}));
            left: calc(50% - ( 0.5 * #{$calc-width}));
            width: $calc-width;
            height: $calc-depth;
            background-color: $top-color;
            border: 1px solid black;
            transform: translateY(calc((-1) * #{$calc-height / 2})) translateZ(calc((-1) * #{$calc-depth / 2})) rotateX(90deg);
        }


        .left-face {
            position: absolute;
            top: calc(50% - ( 0.5 * #{$calc-height}));
            left: calc(50% - ( 0.5 * #{$calc-depth}));
            width: $calc-depth;
            height: $calc-height;
            background-color: $left-color;
            border: 1px solid black;
            transform: translateX(calc((-1) * #{$calc-width / 2})) translateZ(calc((-1) * #{$calc-depth / 2})) rotateY(90deg);
        }

        .right-face {
            position: absolute;
            top: calc(50% - ( 0.5 * #{$calc-height}));
            left: calc(50% - ( 0.5 * #{$calc-depth}));
            width: $calc-depth;
            height: $calc-height;
            background-color: $right-color;
            border: 1px solid black;
            transform: translateX(calc(#{$calc-width / 2})) translateZ(calc((-1) * #{$calc-depth / 2})) rotateY(90deg);
        }

        .back-face{
            position: absolute;
            top: calc(50% - (0.5 * #{$calc-height}));
            left: calc(50% - (0.5 * #{$calc-width}));
            border: 1px solid black;
            background-color: $back-color;
            width:  $calc-width;
            height: $calc-height;
            transform: translateZ(calc( -1 * #{$calc-depth})) rotateY(180deg);
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            
            p{
                color: black;
                padding: 50px;
                font-size: 20px;
                letter-spacing: 0.05em;
            }
        }
    }
}

@media screen and (max-width: 1880px){
    $info-font-size: 15px;
    body {
        .info-pane {
            .about {
                font-size: $info-font-size;                            
            }
        }
    }  
}

@media screen and (max-width: 1100px){

    $display-font-size: 30px;

    $button-size: 50px;
    $button-font-size: 20px;
    $button-margin: 10px;

    $button-depth: 10px;

    $calc-width: calc(20px + ((#{$button-size} + (2 * #{$button-margin})) * 4));
    $calc-height: calc(70px + (4 * #{$display-font-size}) + (8 * (#{$button-size} + (2 * #{$button-margin}))));
    $calc-depth: 30px;

    $heading-size: 40px;
    $info-height: 380px;
    $more-info-font-size: 10px;
    $info-width: 25vw;
    $info-font-size: 13px;

    body {

        h1{
            font-size: $heading-size;
            margin: 20px;
            padding: 20px;
        }

        .info-pane {
            .about {
                font-size: $info-font-size;                            
            }
        }

        .calculator {
            left: 10%;
            height: 100vh;
            width: 100%;
    
            .front-face{
                top: calc(50% - (0.5 * #{$calc-height}));
                left: calc(50% - (0.5 * #{$calc-width}));
                width:  $calc-width;
                height: $calc-height;
    
                .displays {
    
                    .display{
                        font-size: $display-font-size;
                        height: 2em;
                        margin: 10px;
                    }      
                }
    
                .buttons {
                    margin: 10px;
                    
                    div {
                        height: $button-size;
                        width: $button-size;
                        font-size: $button-font-size;
                        margin: $button-margin;
    
                        .button-top-face{
                            height: $button-depth;
                            transform: translateY(calc((-1) * #{$button-size} / 2)) translateZ(calc(#{$button-depth} / 2)) rotateX(90deg);
    
                        }
                        .button-bottom-face{
                            height: $button-depth;
                            transform: translateY(calc(#{$button-size} / 2)) translateZ(calc(#{$button-depth} / 2)) rotateX(90deg);
                        }
                        .button-left-face{
                            width: $button-depth;
                            transform: translateX(calc((-1) * #{$button-size} / 2)) translateZ(calc(#{$button-depth} / 2)) rotateY(90deg);
                        }
                        .button-right-face{
                            width: $button-depth;
                            transform: translateX(calc(#{$button-size} / 2)) translateZ(calc(#{$button-depth} / 2)) rotateY(90deg); 
                        }
                        .button-front-face{
                            transform: translateZ(calc(#{$button-depth}));
                        }
    
                        &.button-container{  
                            &.pressed {
                                transform: translateZ(calc((-1) * (#{$button-depth} * 0.6)));
                            }
                        }
                    }
                }
            }
    
            .bottom-face {
                top: calc(50% - ( 0.5 * #{$calc-depth}));
                left: calc(50% - ( 0.5 * #{$calc-width}));
                width: $calc-width;
                height: $calc-depth;
                transform: translateY(calc(#{$calc-height / 2})) translateZ(calc((-1) * #{$calc-depth / 2})) rotateX(90deg);
            }
    
            .top-face {
                top: calc(50% - ( 0.5 * #{$calc-depth}));
                left: calc(50% - ( 0.5 * #{$calc-width}));
                width: $calc-width;
                height: $calc-depth;
                transform: translateY(calc((-1) * #{$calc-height / 2})) translateZ(calc((-1) * #{$calc-depth / 2})) rotateX(90deg);
            }
    
    
            .left-face {
                top: calc(50% - ( 0.5 * #{$calc-height}));
                left: calc(50% - ( 0.5 * #{$calc-depth}));
                width: $calc-depth;
                height: $calc-height;
                transform: translateX(calc((-1) * #{$calc-width / 2})) translateZ(calc((-1) * #{$calc-depth / 2})) rotateY(90deg);
            }
    
            .right-face {
                top: calc(50% - ( 0.5 * #{$calc-height}));
                left: calc(50% - ( 0.5 * #{$calc-depth}));
                width: $calc-depth;
                height: $calc-height;
                transform: translateX(calc(#{$calc-width / 2})) translateZ(calc((-1) * #{$calc-depth / 2})) rotateY(90deg);
            }
    
            .back-face{
                top: calc(50% - (0.5 * #{$calc-height}));
                left: calc(50% - (0.5 * #{$calc-width}));
                width:  $calc-width;
                height: $calc-height;
                transform: translateZ(calc( -1 * #{$calc-depth})) rotateY(180deg);
                
                p{
                    padding: 50px;
                    font-size: 20px;
                    letter-spacing: 0.05em;
                }
            }
        }
    }  
}

@media screen and (max-width: 730px){


    $display-font-size: 30px;

    $button-size: 40px;
    $button-font-size: 20px;
    $button-margin: 10px;

    $button-depth: 10px;

    $calc-width: calc(20px + ((#{$button-size} + (2 * #{$button-margin})) * 4));
    $calc-height: calc(70px + (4 * #{$display-font-size}) + (8 * (#{$button-size} + (2 * #{$button-margin}))));
    $calc-depth: 30px;

    $heading-size: 40px;
    $more-info-font-size: 30px;
    $info-font-size: 13px;

    body {
        overflow-x: hidden;
        overflow-y: auto;

        header{
            height: 100vh;
        }
        h1{
            font-family: 'Londrina Outline';
            font-size: $heading-size;
        }

        .info-pane {
            position: relative;
            transform: translateX(0px);
            top: calc(-#{$more-info-font-size} - 15px);

            .opener {
                width: 100%;
                font-size: $more-info-font-size;
                line-height: 1.5em;
                transform: rotateZ(0deg) translateX(0px);
                transform-origin: bottom left;
                text-align: center;
            }

            .about {
                position: relative;
                top: calc(#{$more-info-font-size} + 15px);
                font-size: $info-font-size;
                width: 100%;
                height: initial;
                margin: 0;
                transform: rotateY(0deg);

                &.shown {
                    transform: rotateY(0deg);
                }          
            }
        }

        .calculator {
            position: absolute;
            left: 10%;
            top: 0;

            
            .front-face{
                top: calc(50% - (0.5 * #{$calc-height}));
                left: calc(50% - (0.5 * #{$calc-width}));
                width:  $calc-width;
                height: $calc-height;

                .displays {

                    .display{
                        font-size: $display-font-size;
                        height: 2em;
                        margin: 10px;
                        overflow-x: auto;
                    }      
                }

                .buttons {
                    height: 100%;
                    border: 1px solid white;
                    margin: 10px;
                    
            
                    div {
                        height: $button-size;
                        width: $button-size;
                        font-size: $button-font-size;
                        margin: $button-margin;

                        .button-top-face{
                            height: $button-depth;
                            transform: translateY(calc((-1) * #{$button-size} / 2)) translateZ(calc(#{$button-depth} / 2)) rotateX(90deg);

                        }
                        .button-bottom-face{
                            height: $button-depth;
                            transform: translateY(calc(#{$button-size} / 2)) translateZ(calc(#{$button-depth} / 2)) rotateX(90deg);
                        }
                        .button-left-face{
                            width: $button-depth;
                            transform: translateX(calc((-1) * #{$button-size} / 2)) translateZ(calc(#{$button-depth} / 2)) rotateY(90deg);
                        }
                        .button-right-face{
                            width: $button-depth;
                            transform: translateX(calc(#{$button-size} / 2)) translateZ(calc(#{$button-depth} / 2)) rotateY(90deg); 
                        }
                        .button-front-face{
                            transform: translateZ(calc(#{$button-depth}));
                        }

                        &.button-container{

                            &.pressed {
                                transform: translateZ(calc((-1) * (#{$button-depth} * 0.6)));
                            }

                            &.var-value{
                                transform: none;
                            }
                        }
                    }
                }
            }

            .bottom-face {
                top: calc(50% - ( 0.5 * #{$calc-depth}));
                left: calc(50% - ( 0.5 * #{$calc-width}));
                width: $calc-width;
                height: $calc-depth;
                transform: translateY(calc(#{$calc-height / 2})) translateZ(calc((-1) * #{$calc-depth / 2})) rotateX(90deg);
            }

            .top-face {
                top: calc(50% - ( 0.5 * #{$calc-depth}));
                left: calc(50% - ( 0.5 * #{$calc-width}));
                width: $calc-width;
                height: $calc-depth;
                transform: translateY(calc((-1) * #{$calc-height / 2})) translateZ(calc((-1) * #{$calc-depth / 2})) rotateX(90deg);
            }


            .left-face {
                top: calc(50% - ( 0.5 * #{$calc-height}));
                left: calc(50% - ( 0.5 * #{$calc-depth}));
                width: $calc-depth;
                height: $calc-height;
                transform: translateX(calc((-1) * #{$calc-width / 2})) translateZ(calc((-1) * #{$calc-depth / 2})) rotateY(90deg);
            }

            .right-face {
                top: calc(50% - ( 0.5 * #{$calc-height}));
                left: calc(50% - ( 0.5 * #{$calc-depth}));
                width: $calc-depth;
                height: $calc-height;
                transform: translateX(calc(#{$calc-width / 2})) translateZ(calc((-1) * #{$calc-depth / 2})) rotateY(90deg);
            }

            .back-face{
                top: calc(50% - (0.5 * #{$calc-height}));
                left: calc(50% - (0.5 * #{$calc-width}));
                width:  $calc-width;
                height: $calc-height;
                transform: translateZ(calc( -1 * #{$calc-depth})) rotateY(180deg);
                
                p{
                    color: black;
                    padding: 50px;
                    font-size: 20px;
                    letter-spacing: 0.05em;
                }
            }
        }
    }
}

@media screen and (max-width: 425px){


    $display-font-size: 20px;

    $button-size: 30px;
    $button-font-size: 15px;
    $button-margin: 5px;

    $button-depth: 10px;

    $calc-width: calc(20px + ((#{$button-size} + (2 * #{$button-margin})) * 4));
    $calc-height: calc(70px + (4 * #{$display-font-size}) + (8 * (#{$button-size} + (2 * #{$button-margin}))));
    $calc-depth: 30px;

    $heading-size: 40px;
    $more-info-font-size: 30px;
    $info-font-size: 13px;

    body {
        overflow-x: hidden;
        overflow-y: auto;

        header{
            height: 100vh;
        }
        h1{
            font-family: 'Londrina Outline';
            font-size: $heading-size;
        }

        .info-pane {
            position: relative;
            transform: translateX(0px);
            top: calc(-#{$more-info-font-size} - 15px);

            .opener {
                width: 100%;
                font-size: $more-info-font-size;
                line-height: 1.5em;
                transform: rotateZ(0deg) translateX(0px);
                transform-origin: bottom left;
                text-align: center;
            }

            .about {
                position: relative;
                top: calc(#{$more-info-font-size} + 15px);
                font-size: $info-font-size;
                width: 100%;
                height: initial;
                margin: 0;
                transform: rotateY(0deg);

                &.shown {
                    transform: rotateY(0deg);
                }          
            }
        }

        .calculator {
            position: absolute;
            left: 10%;
            top: 0;

            
            .front-face{
                top: calc(50% - (0.5 * #{$calc-height}));
                left: calc(50% - (0.5 * #{$calc-width}));
                width:  $calc-width;
                height: $calc-height;

                .displays {

                    .display{
                        font-size: $display-font-size;
                        height: 2em;
                        margin: 10px;
                        overflow-x: auto;
                    }      
                }

                .buttons {
                    height: 100%;
                    border: 1px solid white;
                    margin: 10px;
                    
            
                    div {
                        height: $button-size;
                        width: $button-size;
                        font-size: $button-font-size;
                        margin: $button-margin;

                        .button-top-face{
                            height: $button-depth;
                            transform: translateY(calc((-1) * #{$button-size} / 2)) translateZ(calc(#{$button-depth} / 2)) rotateX(90deg);

                        }
                        .button-bottom-face{
                            height: $button-depth;
                            transform: translateY(calc(#{$button-size} / 2)) translateZ(calc(#{$button-depth} / 2)) rotateX(90deg);
                        }
                        .button-left-face{
                            width: $button-depth;
                            transform: translateX(calc((-1) * #{$button-size} / 2)) translateZ(calc(#{$button-depth} / 2)) rotateY(90deg);
                        }
                        .button-right-face{
                            width: $button-depth;
                            transform: translateX(calc(#{$button-size} / 2)) translateZ(calc(#{$button-depth} / 2)) rotateY(90deg); 
                        }
                        .button-front-face{
                            transform: translateZ(calc(#{$button-depth}));
                        }

                        &.button-container{

                            &.pressed {
                                transform: translateZ(calc((-1) * (#{$button-depth} * 0.6)));
                            }

                            &.var-value{
                                transform: none;
                            }
                        }
                    }
                }
            }

            .bottom-face {
                top: calc(50% - ( 0.5 * #{$calc-depth}));
                left: calc(50% - ( 0.5 * #{$calc-width}));
                width: $calc-width;
                height: $calc-depth;
                transform: translateY(calc(#{$calc-height / 2})) translateZ(calc((-1) * #{$calc-depth / 2})) rotateX(90deg);
            }

            .top-face {
                top: calc(50% - ( 0.5 * #{$calc-depth}));
                left: calc(50% - ( 0.5 * #{$calc-width}));
                width: $calc-width;
                height: $calc-depth;
                transform: translateY(calc((-1) * #{$calc-height / 2})) translateZ(calc((-1) * #{$calc-depth / 2})) rotateX(90deg);
            }


            .left-face {
                top: calc(50% - ( 0.5 * #{$calc-height}));
                left: calc(50% - ( 0.5 * #{$calc-depth}));
                width: $calc-depth;
                height: $calc-height;
                transform: translateX(calc((-1) * #{$calc-width / 2})) translateZ(calc((-1) * #{$calc-depth / 2})) rotateY(90deg);
            }

            .right-face {
                top: calc(50% - ( 0.5 * #{$calc-height}));
                left: calc(50% - ( 0.5 * #{$calc-depth}));
                width: $calc-depth;
                height: $calc-height;
                transform: translateX(calc(#{$calc-width / 2})) translateZ(calc((-1) * #{$calc-depth / 2})) rotateY(90deg);
            }

            .back-face{
                top: calc(50% - (0.5 * #{$calc-height}));
                left: calc(50% - (0.5 * #{$calc-width}));
                width:  $calc-width;
                height: $calc-height;
                transform: translateZ(calc( -1 * #{$calc-depth})) rotateY(180deg);
                
                p{
                    color: black;
                    padding: 50px;
                    font-size: 20px;
                    letter-spacing: 0.05em;
                }
            }
        }
    }
}