* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-align: center;
}

.calculator {
  border: 3px solid black;
  margin: 20px;
  position: relative;
  background-color: black;
  display: inline-flex;
  flex-direction: column;
}
.calculator .display {
  font-size: 40px;
  height: 2em;
  margin: 10px;
  color: white;
  text-align: left;
  border: 1px solid white;
}
.calculator .display.secondary {
  text-align: right;
}
.calculator .buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 100%;
  border: 1px solid white;
  margin: 10px;
}
.calculator .buttons div {
  height: 60px;
  width: 60px;
  display: flex;
  font-size: 20px;
  transition: ease 0.2s;
  background-color: initial;
  align-items: center;
  justify-content: center;
  background-color: orange;
  border-radius: 50%;
  margin: 10px;
  color: black;
}
.calculator .buttons div:hover {
  background-color: #b6600f;
}
.calculator .buttons div.invalid-input {
  background-color: red;
}
.calculator .buttons div.var-value {
  border-radius: 0;
}
.calculator .buttons div.var-value:hover {
  background-color: orange;
}