* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-align: center;
}


.calculator {
    border: 3px solid black;
    margin: 20px;
    position: relative;
    background-color: black;
    display: inline-flex;
    flex-direction: column;

    .display {
        font-size: 40px;
        height: 2em;
        margin: 10px;
        color: white;
        text-align: left;
        border: 1px solid white;
        
        &.secondary{
            text-align: right;
        }
        
    }

    .buttons {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        height: 100%;
        border: 1px solid white;
        margin: 10px;
        

        div {
            height: 60px;
            width: 60px;
            display: flex;
            font-size: 20px;
            transition: ease 0.2s;
            background-color: initial;
            align-items: center;
            justify-content: center;
            // border: 1px solid white;
            background-color: orange;
            border-radius: 50%;
            margin: 10px;
            color: black;

        &:hover {
            background-color: rgb(182, 96, 15);
        }

        &.invalid-input{
            background-color: red;
        }

        &.var-value{
            border-radius: 0;

            &:hover {
                background-color: orange;
            }
        }

        }
    }

}

