* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  perspective: 10000px;
  perspective-origin: center;
  transform-style: preserve-3d;
}

body {
  overflow-x: hidden;
  background-color: #09092c;
  text-align: left;
}
body * {
  font-family: "Londrina Solid";
}
body h1 {
  font-family: "Londrina Outline";
  color: white;
  font-size: 80px;
  margin: 20px;
  padding: 20px;
  border: 2px dashed white;
  display: inline-block;
}
body h2 {
  font-family: "Londrina Outline";
}
body .info-pane {
  display: inline-block;
  position: fixed;
  top: 50%;
  transform: translateX(-40px);
  transition: 0.5s ease;
}
body .info-pane:hover {
  transform: translateX(0px);
}
body .info-pane.shown {
  transform: translateX(0px);
}
body .info-pane .opener {
  background-color: red;
  width: 380px;
  position: absolute;
  font-size: 40px;
  line-height: 1.5em;
  transform: rotateZ(90deg) translateX(calc((-1.5 * 40px)));
  transform-origin: bottom left;
  text-align: center;
}
body .info-pane .about {
  border: 1px dashed white;
  font-size: 20px;
  width: 25vw;
  margin-left: calc(1.5 * 40px);
  height: 380px;
  border: 1px dashed white;
  background-color: transparent;
  color: white;
  transform: rotateY(100deg);
  transform-origin: left;
  transition: 0.5s ease;
}
body .info-pane .about.shown {
  transform: rotateY(0deg);
}
body .info-pane .about p {
  padding: 10px;
  font-weight: 100;
  letter-spacing: 0.1em;
}
body .calculator {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  margin: auto;
}
body .calculator .front-face {
  position: absolute;
  top: calc(50% - (0.5 * calc(70px + (4 * 40px) + (8 * (70px + (2 * 10px))))));
  left: calc(50% - (0.5 * calc(20px + ((70px + (2 * 10px)) * 4))));
  border: 1px solid black;
  background-color: gold;
  width: calc(20px + ((70px + (2 * 10px)) * 4));
  height: calc(70px + (4 * 40px) + (8 * (70px + (2 * 10px))));
  display: flex;
  flex-direction: column;
}
body .calculator .front-face .displays .display {
  font-size: 40px;
  height: 2em;
  margin: 10px;
  color: white;
  text-align: left;
  border: 1px solid white;
  background-color: black;
}
body .calculator .front-face .displays .display.secondary {
  text-align: right;
}
body .calculator .front-face .buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 100%;
  border: 1px solid white;
  margin: 10px;
}
body .calculator .front-face .buttons div {
  height: 70px;
  width: 70px;
  display: flex;
  font-size: 30px;
  transition: ease 0.2s;
  background-color: initial;
  align-items: center;
  justify-content: center;
  background-color: grey;
  border-radius: 50%;
  margin: 10px;
  color: black;
}
body .calculator .front-face .buttons div:hover {
  background-color: white;
}
body .calculator .front-face .buttons div.invalid-input {
  background-color: red;
}
body .calculator .front-face .buttons div.var-value {
  border-radius: 0;
}
body .calculator .front-face .buttons div.var-value:hover {
  background-color: button-color;
}
body .calculator .bottom-face {
  position: absolute;
  top: calc(50% - ( 0.5 * 40px));
  left: calc(50% - ( 0.5 * calc(20px + ((70px + (2 * 10px)) * 4))));
  width: calc(20px + ((70px + (2 * 10px)) * 4));
  height: 40px;
  background-color: #ec4b00;
  border: 1px solid black;
  transform: translateY(calc(calc(70px + (4 * 40px) + (8 * (70px + (2 * 10px))))/2)) translateZ(calc((-1) * 20px)) rotateX(90deg);
}
body .calculator .top-face {
  position: absolute;
  top: calc(50% - ( 0.5 * 40px));
  left: calc(50% - ( 0.5 * calc(20px + ((70px + (2 * 10px)) * 4))));
  width: calc(20px + ((70px + (2 * 10px)) * 4));
  height: 40px;
  background-color: #d9ff00;
  border: 1px solid black;
  transform: translateY(calc((-1) * calc(70px + (4 * 40px) + (8 * (70px + (2 * 10px))))/2)) translateZ(calc((-1) * 20px)) rotateX(90deg);
}
body .calculator .left-face {
  position: absolute;
  top: calc(50% - ( 0.5 * calc(70px + (4 * 40px) + (8 * (70px + (2 * 10px))))));
  left: calc(50% - ( 0.5 * 40px));
  width: 40px;
  height: calc(70px + (4 * 40px) + (8 * (70px + (2 * 10px))));
  background-color: #00a2ff;
  border: 1px solid black;
  transform: translateX(calc((-1) * calc(20px + ((70px + (2 * 10px)) * 4))/2)) translateZ(calc((-1) * 20px)) rotateY(90deg);
}
body .calculator .right-face {
  position: absolute;
  top: calc(50% - ( 0.5 * calc(70px + (4 * 40px) + (8 * (70px + (2 * 10px))))));
  left: calc(50% - ( 0.5 * 40px));
  width: 40px;
  height: calc(70px + (4 * 40px) + (8 * (70px + (2 * 10px))));
  background-color: #f700ff;
  border: 1px solid black;
  transform: translateX(calc(calc(20px + ((70px + (2 * 10px)) * 4))/2)) translateZ(calc((-1) * 20px)) rotateY(90deg);
}
body .calculator .back-face {
  position: absolute;
  top: calc(50% - (0.5 * calc(70px + (4 * 40px) + (8 * (70px + (2 * 10px))))));
  left: calc(50% - (0.5 * calc(20px + ((70px + (2 * 10px)) * 4))));
  border: 1px solid black;
  background-color: #69065a;
  width: calc(20px + ((70px + (2 * 10px)) * 4));
  height: calc(70px + (4 * 40px) + (8 * (70px + (2 * 10px))));
  transform: translateZ(calc( -1 * 40px)) rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
body .calculator .back-face p {
  color: black;
  padding: 50px;
  font-size: 20px;
  letter-spacing: 0.05em;
}